/*colors and Fonts */

body{
	background-color: #fbf4df;
	color : rgb(50, 50, 50);
	line-height: 1.5;
	font-family: Cambria;
	font-size: 18px;
	font-weight: lighter;
	text-align: justify;
	letter-spacing: 1px;
}

h1, h2 {
	font-family: Merriweather;
	font-weight: bold;
	color: #6E4E14;
	letter-spacing: 3px;
}
h1 { 
	font-size: 40px;
 }

 h2 { 
	font-size: 20px;
 }
 a {
 	text-decoration: none;
 	color: #8C2E1D;
 	font-weight: bold;
 }
 a:hover {
 	color: #393939;
 }


/* Custom Design*/

.container{
	width: 750px;
    margin: 40px auto;
} 

@media (max-width: 760px) {
	.container {
		width: 600px
	}
}
@media (max-width: 540px) {
	.container {
		width: 400px
	}
}

.card-white{
	background: white;
    padding: 50px;
    margin: 30px;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
    border-radius: 10px;
    text-align: center;
}
.img-center {
	width: 300px;
	border-radius: 50%;

}
.btn-blue {
	background-color: #8C2E1D;
	color: white;
	padding: 15px 20px;
	border-radius: 10px;
}
.btn-blue:hover {
	background-color: #0F2322;
	color: white;
}
.list-inline{
	list-style:none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 30px;
}
#introduction p {
	margin-bottom: 40px;
}